<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<footer class="blog-footer" th:fragment="footer">
    <div class="container">
        <p>Blog template built for <a href="https://getbootstrap.com/docs/4.0/examples/blog/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a> and modified.</p>
        <p>Brand logo obtianed from <a href="https://www.hiclipart.com/free-transparent-background-png-clipart-dyltg">HiClipart</a> and favicon obtained through <a href="https://logomakr.com/">LogoMakr</a>.</p>
    </div>
</footer>
</body>
<html>