<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}"/>
    <title>Bitcoin Living the High Life</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<!-- start of body -->
<main>
    <div class="container">
        <div th:insert="fragments/_header :: header"></div>
        <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
            <figure>
                <img th:src="@{/images/paradise.jpg}" alt="Lying in hammock on beach"/>
            </figure>
            <div class="col-md-12 px-0">
                <article class="text-justify">
                    <p>Now you’ve got clean bitcoins — hopefully a lot of them! — and you’ve got your eye on a villa in
                        the south of France. Unfortunately, the landlord doesn’t accept Bitcoin. Like most merchants in
                        the world, she wants a government-sanctioned currency, preferably the euro.</p>
                    <p>This tracking technique isn’t very helpful for the time being, since the thief’s identity is
                        still unknown. However, Bitcoin forensics is getting better and better as programmers figure out
                        new ways to extract information from the blockchain. A thief may leave traces that are
                        undetectable now but could be uncovered in the future, inspiring a retroactive
                        investigation.</p>
                    <p>So now you’ve got to convert your bitcoins to euros. But you’ve got a lot of bitcoins. If you’re
                        the owner of Sheep Marketplace, you’ve got $100 millions’ worth. The Bitcoin economy is still
                        tiny and relatively illiquid — there aren’t many buyers who could cash you out for that much
                        Bitcoin all in one sale, and a transaction of that size would surely raise alarms. It also
                        becomes much harder to conceal your identity when you exchange Bitcoin for other currencies.
                        Most exchanges require some type of identifying information, and at the very least you need an
                        account into which the euros can be deposited.</p>
                    <p>It’s time to get creative. There are several ways you can unload a lot of Bitcoin while
                        maintaining your anonymity. Find a rich buyer who is willing to take the bitcoins without
                        verifying your identity in exchange for a discount on the price, for example. However, the best
                        way to protect yourself is to remain patient. Unload your bitcoins in a series of transactions
                        over weeks, ideally months or even years, in order to avoid arousing suspicion from those
                        watching the blockchain as well as real-life authorities that might wonder how you suddenly came
                        into millions of dollars.</p>
                    <p>Now, enjoy life in French Polynesia.</p>
                </article>
            </div><!-- /.row -->
            <p class="lead mb-0"><a class="text-white font-weight-bold" th:href="@{/}">Back to the beginning</a>
        </div><!-- /.jumbotron -->
    </div><!-- /.container -->
</main>
<div th:insert="fragments/_footer :: footer"></div>
</body>
<html>